<%- include("../partials/header") -%>
<div class="container">
  <h2 class="headings"><%= post.title %></h2>
  <img height="400px" width="600px" src="<%= post.coverImageLink %>" alt="cover image of <%= post.title %>">
  <p><%= post.body %></p>

  <a href="/users/<%= post.createdBy.id %>"><span><%= post.createdBy.name %></span></a>
  <span><%= new Date(post.createdAt).toDateString() %></span>

  <% if (auth) { %>
  <% if (user.id === post.createdBy.id) { %>
  <div>
    <a class="btn btn-primary" href="/posts/edit/<%= post.id %>">edit</a>
    <form method="POST" action="/posts/delete/<%= post.id %>?_method=DELETE">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
  </div>
  <% } %>
  <% } %>
</div>